<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth font-light 2xl:text-[20px]">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>ISTE Auditions</title>
    <link rel="icon" href="./img/logo.jpg" type="image/icon type">
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="ISTE" />
    <meta property="og:url" content="https://ISTE.app/" />
    <meta property="og:type" content="website" />


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/ico+xml" href="/favicon.ico">
    <link rel="mask-icon" href="/favicon.ico" color="#8D46E7">



    <script>!(function (w, p, f, c) { c = w[p] = Object.assign(w[p] || {}, { "lib": "/~partytown/", "debug": false }); c[f] = (c[f] || []).concat(["dataLayer.push"]) })(window, 'partytown', 'forward');/* Partytown 0.7.4 - MIT builder.io */
        !function (t, e, n, i, r, o, a, d, s, c, p, l) { function u() { l || (l = 1, "/" == (a = (o.lib || "/~partytown/") + (o.debug ? "debug/" : ""))[0] && (s = e.querySelectorAll('script[type="text/partytown"]'), i != t ? i.dispatchEvent(new CustomEvent("pt1", { detail: t })) : (d = setTimeout(w, 1e4), e.addEventListener("pt0", f), r ? h(1) : n.serviceWorker ? n.serviceWorker.register(a + (o.swPath || "partytown-sw.js"), { scope: a }).then((function (t) { t.active ? h() : t.installing && t.installing.addEventListener("statechange", (function (t) { "activated" == t.target.state && h() })) }), console.error) : w()))) } function h(t) { c = e.createElement(t ? "script" : "iframe"), t || (c.setAttribute("style", "display:block;width:0;height:0;border:0;visibility:hidden"), c.setAttribute("aria-hidden", !0)), c.src = a + "partytown-" + (t ? "atomics.js?v=0.7.4" : "sandbox-sw.html?" + Date.now()), e.body.appendChild(c) } function w(t, n) { for (f(), t = 0; t < s.length; t++)(n = e.createElement("script")).innerHTML = s[t].innerHTML, e.head.appendChild(n); c && c.parentNode.removeChild(c) } function f() { clearTimeout(d) } o = t.partytown || {}, i == t && (o.forward || []).map((function (e) { p = t, e.split(".").map((function (e, n, i) { p = p[i[n]] = n + 1 < i.length ? "push" == i[n + 1] ? [] : p[i[n]] || {} : function () { (t._ptf = t._ptf || []).push(i, arguments) } })) })), "complete" == e.readyState ? u() : (t.addEventListener("DOMContentLoaded", u), t.addEventListener("load", u)) }(window, document, navigator, top, window.crossOriginIsolated);</script>
</head>

<body class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900">
    <div id="stars2"></div>
    <!-- <div id="stars1"></div> -->
    {{>navbar}} 
    <main>
        <section>

            <div class="max-w-6xl mx-auto px-4 sm:px-6">
                <div class="py-12 md:py-20">
                    <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
                        <h1
                            class="text-5xl md:text-[3.5rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
                            Welcome to
                            <span
                                class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">
                                ISTE Students' Chapter
                                <br> </span>
                            NIT Durgapur Auditions
                        </h1>
                        <div class="max-w-3xl mx-auto">
                            <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
                                <br>
                                The Indian Society for Technical Education(ISTE) is the leading National Professional
                                non-profit making Society for the
                                Technical Education System in our country with the motto of Career Development of
                                Teachers and Personality Development
                                of Students and overall development of our Technical Education System operating in
                                association with All India Council
                                for Technical Education (AICTE) and other International Projects.

                            </p>
                            <div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
                                <div class="flex w-full sm:w-auto">
                                    <div class="submitBtn">

                                        <a class="btn sm:mb-0 w-full"
                                            href="/google"
                                            target="_blank" rel="noopener">
                                            <!-- <svg viewBox="0 0 24 24" class="w-5 h-5 mr-3 -ml-1.5"
                                            astro-icon="tabler:rocket">
                                            <g fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="2" class="icon-tabler">
                                                <path
                                                d="M4 13a8 8 0 0 1 7 7 6 6 0 0 0 3-5 9 9 0 0 0 6-8 3 3 0 0 0-3-3 9 9 0 0 0-8 6 6 6 0 0 0-5 3" />
                                                <path d="M7 14a6 6 0 0 0-3 6 6 6 0 0 0 6-3" />
                                                <circle cx="15" cy="9" r="1" />
                                            </g>
                                        </svg>  -->


                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            Join Us


                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="mb-6 m-auto max-w-3xl">
                            <picture>
                                <!-- <source type="image/avif"
                                    srcset="/assets/hero_rocketlaunch.0eeb75a0_Z1OsFB7.avif 2000w,/assets/hero_rocketlaunch.0eeb75a0_Z1OsFB7.avif 2000w">
                                <source type="image/webp"
                                    srcset="/assets/hero_rocketlaunch.0eeb75a0_Z167QDl.webp 2000w,/assets/hero_rocketlaunch.0eeb75a0_Z167QDl.webp 2000w"> -->
                                <source type="image/png" srcset="gandr-collage (1).jpg">
                                <img width="2000" height="1143" src="./img/gandr-collage (1).jpg" loading="loading"
                                    decoding="async" alt="Hero Image"
                                    class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="stars2"></div>
        <section class="scroll-mt-16" id="features">
            <div class="px-4 py-16 mb-10 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
                <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
                    <p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">
                    </p>
                    <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
                        Why Join <span
                            class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap">
                            ISTE</span>
                    </h2>
                </div>
                <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
                    <div class="space-y-8 sm:px-8">
                        <div class="flex flex-row max-w-md">
                            <div class="mb-4 mr-4">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
                                    <svg viewBox="0 0 24 24" class="w-5 h-5 text-white" astro-icon="tabler:bolt">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13 3v7h6l-8 11v-7H5l8-11" />
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <h3 class="mb-3 text-xl font-bold"></h3>
                                <p class="text-gray-900 dark:text-white">Unrivaled Guidance and Environment for pursuing higher education.</p>
                            </div>
                        </div>
                        <div class="flex flex-row max-w-md">
                            <div class="mb-4 mr-4">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
                                    <svg viewBox="0 0 24 24" class="w-5 h-5 text-white" astro-icon="tabler:palette">
                                        <g fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" class="icon-tabler">
                                            <path
                                                d="M12 21a9 9 0 1 1 0-18 9 8 0 0 1 9 8 4.5 4 0 0 1-4.5 4H14a2 2 0 0 0-1 3.75A1.3 1.3 0 0 1 12 21" />
                                            <circle cx="7.5" cy="10.5" r=".5" fill="currentColor" />
                                            <circle cx="12" cy="7.5" r=".5" fill="currentColor" />
                                            <circle cx="16.5" cy="10.5" r=".5" fill="currentColor" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <h3 class="mb-3 text-xl font-bold"></h3>
                                <p class="text-gray-900 dark:text-white">Opportunities to network with other students, educators, and professionals in the
                                    field</p>
                            </div>
                        </div>
                    </div>
                    <div class="space-y-8 sm:px-8">
                        <div class="flex flex-row max-w-md">
                            <div class="mb-4 mr-4">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
                                    <svg viewBox="0 0 24 24" class="w-5 h-5 text-white"
                                        astro-icon="tabler:device-mobile">
                                        <g fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" class="icon-tabler">
                                            <rect width="10" height="16" x="7" y="4" rx="1" />
                                            <path d="M11 5h2M12 17v.01" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <h3 class="mb-3 text-xl font-bold"></h3>
                                <p class="text-gray-900 dark:text-white">Exposure to internship and placement awareness for students interested in
                                    technology and education.</p>
                            </div>
                        </div>
                        <div class="flex flex-row max-w-md">
                            <div class="mb-4 mr-4">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
                                    <svg viewBox="0 0 24 24" class="w-5 h-5 text-white" astro-icon="tabler:trophy">
                                        <g fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" class="icon-tabler">
                                            <path d="M8 21h8M12 17v4M7 4h10M17 4v8a5 5 0 0 1-10 0V4" />
                                            <circle cx="5" cy="9" r="2" />
                                            <circle cx="19" cy="9" r="2" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div>
                                <h3 class="mb-3 text-xl font-bold"></h3>
                                <p class="text-gray-900 dark:text-white">Ample Opportunities for skill and personality development</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="px-4 py-8 md:py-8 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-10 max-w-6xl">
            <div class="grid grid-cols-1 row-gap-8 md:grid-cols-1">

                <!-- 
            $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
            Insert some stats here
            how many students registered in events n the last year
            how many companies youve partnered with
            
         -->
                <br>
                <div class="text-center">
                    <div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-primary-500 font-heading">1000+</div>
                    <p
                        class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
                        Students Participated in our events last year</p>

                    <div class="textBox">

                        <br>
                        <div id="container">
                            <span id="text1"></span>
                            <span id="text2"></span>
                        </div>
                    </div>

                    <svg id="filters">
                        <defs>
                            <filter id="threshold">
                                <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                                            0 1 0 0 0
                                            0 0 1 0 0
                                            0 0 0 255 -140" />
                            </filter>
                        </defs>
                    </svg>
                </div>


            </div>
        </div>

        <!-- 
            Teams jisme ham log auditions le rahe hai
            woh yaha pe daaldo         
         -->
        <section class="relative">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 ">
                <div class="py-12 md:py-20 ">
                    <div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl bg-primary-600 cardsBox">
                        <h2
                            class="text-4xl text-slate-100 dark:text-slate-200 md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
                            <span>Teams we are auditioning for</span>
                        </h2>
                        <!-- <p class="text-xl text-slate-200 dark:text-slate-300">
                        
                            Web Development<br>
                            Content Writing<br>
                            Graphic Design<br>
                            Event Management<br>
                            Video Editing
                       

                        </p> -->

                        <main class="page-content">
                            <div class="card">
                                <div class="content">
                                    <!-- <img src="https://www.svgrepo.com/show/1699/web-development.svg" alt="my image" /> -->
                                    <h2 class="title">Web Developent</h2>
                                    <p class="copy">“Website without visitors is like a ship lost in the horizon.”</p>

                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <h2 class="title">Event Managers</h2>
                                    <p class="copy">“A goal without a plan is just a wish.”</p>

                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <h2 class="title">Graphic Designers</h2>
                                    <p class="copy">"Design is intelligence made visible." </p>

                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <h2 class="title">Content Writers</h2>
                                    <p class="copy">“Give Words to your Thoughts.”</p>

                                </div>
                            </div>
                            <div class="card">
                                <div class="content">
                                    <h2 class="title">Video Editors</h2>
                                    <p class="copy">“Editing is everything. Cut until you can cut no more.”</p>

                                </div>
                            </div>
                        </main>
                        <!-- partial -->




                        <!-- partial:index.partial.html -->
                        <!-- <div class="container">
                            <ul class="character-collection">
                                <li class="person fahkumram">
                                    <div class="hover-person"></div>
                                    <img src="https://fadelun.github.io/hosted-assets/tekken-property/fahkumram.png"
                                        alt="fahkumram" />
                                    <p class="text-name">fahkumram</p>
                                </li>
                                <li class="person kunimitsu">
                                    <div class="hover-person"></div>
                                    <img src="https://fadelun.github.io/hosted-assets/tekken-property/kunimitsu.png"
                                        alt="kunimitsu" />
                                    <p class="text-name">kunimitsu</p>
                                </li>
                                <li class="person leroy">
                                    <div class="hover-person"></div>
                                    <img src="https://fadelun.github.io/hosted-assets/tekken-property/leroy.png"
                                        alt="leroy" />
                                    <p class="text-name">leroy</p>
                                </li>
                                <li class="person lidia">
                                    <div class="hover-person"></div>
                                    <img src="https://fadelun.github.io/hosted-assets/tekken-property/lidia.png"
                                        alt="lidia" />
                                    <p class="text-name">lidia</p>
                                </li>
                                <li class="person zafina">
                                    <div class="hover-person"></div>
                                    <img src="https://fadelun.github.io/hosted-assets/tekken-property/zafina.png"
                                        alt="zafina" />
                                    <p class="text-name">zafina</p>
                                </li>
                            </ul>
                        </div> -->
                        <!-- partial -->



                        <div class="mt-6">
                            <a class="btn bg-white text-primary-600  mb-4 sm:mb-0"
                                href="/google"
                                target="_blank" rel="noopener">
                                <svg viewBox="0 0 24 24" class="w-6 h-6 mr-2 -ml-1.5" astro-icon="tabler:rocket">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" class="icon-tabler">
                                        <path
                                            d="M4 13a8 8 0 0 1 7 7 6 6 0 0 0 3-5 9 9 0 0 0 6-8 3 3 0 0 0-3-3 9 9 0 0 0-8 6 6 6 0 0 0-5 3" />
                                        <path d="M7 14a6 6 0 0 0-3 6 6 6 0 0 0 6-3" />
                                        <circle cx="15" cy="9" r="1" />
                                    </g>
                                </svg> Join us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<hr>
    <div id="stars2"></div>
    {{>footer}}
    <script src="./scripts/darkMode.js"></script>
</body>

</html>
