<footer>
    <div class="social">
        <p class="text-gray-900 dark:text-white">Follow Us on social media</p>
        <ul class="wrapper">
            <a href="https://www.linkedin.com/company/istenitdgp/mycompany/" target="_blank">
                <li class="icon linkedin">
                    <span class="tooltip">LinkedIn</span>
                    <span><i class="fa fa-linkedin"></i></span>
                </li>
            </a>
            <a href="https://www.facebook.com/istenitdgp/" target="_blank">
                <li class="icon facebook">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fa fa-facebook-f"></i></span>
                </li>
            </a>
            <a href="https://www.instagram.com/istenitdgp/?hl=en" target="_blank">
                <li class="icon instagram">
                    <span class="tooltip">Instagram</span>
                    <span><i class="fa fa-instagram"></i></span>
                </li>
            </a>
        </ul>
    </div>
    <div class="final_text"></div>
    <p class="text-gray-900 dark:text-white">Copyright &copy; All rights reserved</p>
    <p class="text-gray-900 dark:text-white">
        Designed with 💖 by Team ISTE Students' Chapter 
    </p>
    <p class="text-gray-900 dark:text-white">
        NIT Durgapur
    </p>
    
</footer>