<header
        class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0"
        id="header">
        <div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-10">
            <div class="flex justify-between">
                <img src="./img/logo.jpg" class="logo" alt="asdas">
                <a class="flex items-center" href="https://www.istenitdgp.com/">

                    <span
                        class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
                        &nbsp &nbsp ISTE </span>
                </a>
                <div class="flex items-center md:hidden">
                    <button type="button"
                        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                        aria-label="Toggle between Dark and Light mode" data-aw-toggle-color-scheme>
                        <svg viewBox="0 0 24 24" class="w-6 h-6" astro-icon="tabler:sun">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="icon-tabler">
                                <circle cx="12" cy="12" r="4" />
                                <path
                                    d="M3 12h1m8-9v1m8 8h1m-9 8v1M5.6 5.6l.7.7m12.1-.7-.7.7m0 11.4.7.7m-12.1-.7-.7.7" />
                            </g>
                        </svg>
                    </button>
                    <button type="button"
                        class="ml-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center transition"
                        aria-label="Toggle Menu" data-aw-toggle-menu>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="w-6 h-6"
                            astro-icon="tabler:menu">
                            <g class="icon-tabler" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M4 8h16" />
                                <path d="M4 16h16" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <nav class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
                aria-label="Main navigation">
                <ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">


                    <li>
                        <!-- <a class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSdcYUWKRE-KOMHsbprivlohcyPdTsOmxUqWMy0DPw7oGcbxJQ/viewform"
                            target="_blank">Apply Now
                        </a> -->
                        <a class="text-gray-900 dark:text-white font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out "
                            href="https://www.istenitdgp.com/team" id="navWord" target="_blank">Our Team
                        </a>
                    </li>
                    <li>
                        <a class="text-gray-900 dark:text-white font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
                            href="https://www.istenitdgp.com/events" id="navWord" target="_blank">Our Events
                        </a>

                    </li>
                </ul>
                <div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
                    <div class="hidden items-center md:flex">


                        <button type="button"
                            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                            aria-label="Toggle between Dark and Light mode" data-aw-toggle-color-scheme
                            onclick="changeColor()">
                            <svg viewBox="0 0 24 24" class="w-6 h-6" astro-icon="tabler:sun">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="icon-tabler">
                                    <circle cx="12" cy="12" r="4" />
                                    <path
                                        d="M3 12h1m8-9v1m8 8h1m-9 8v1M5.6 5.6l.7.7m12.1-.7-.7.7m0 11.4.7.7m-12.1-.7-.7.7" />
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </header>